

@model List<Post>

@foreach (var post in Model)
{
    <article class="blog-post">
        <h3>@post.Titulo <small>@post.Fecha.ToString("dd/MM/yyyy")</small></h3>
        <img class="thumbnail" src="data:image/png;base64,@Convert.ToBase64String(post.Imagen)">
        <p>
            @Html.Raw(post.Texto)
        </p>
        <div class="callout">
            <ul class="menu simple">
                <li><a href="#">Autor: @post.Author.FirstName @post.Author.LastName</a></li>
                <li><a href="#">Comentarios: CommentsCount</a></li>
            </ul>
        </div>
    </article>
}
