@model IEnumerable<DiarioWeb.Models.Post>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <div class="row border-bottom pb-3">
            <div class="col text-center">
                <h1>Diario Web de Joan y Adrián</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 border-end pe-3">
                @foreach (var post in Model)
                {
                    <article class="blog-post">
                        <h3>@post.Titulo <small>@post.Fecha.ToString("dd/MM/yyyy")</small></h3>
                        <div style="display: flex; justify-content: center;">
                            <div class="ratio" style="width: 40vw; height: 22vw; display: flex; justify-content: center; align-items: center;">
                                <img src="data:image/png;base64,@Convert.ToBase64String(post.Imagen)" alt="Imagen" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" />
                            </div>
                        </div>
                        <p>
                            @post.Texto
                        </p>
                        <div class="callout">
                            <ul class="menu simple">
                                <li><a href="#">Autor: @post.Author.FirstName @post.Author.LastName</a></li>
                                <li><a href="#">Comentarios: Comments.Count</a></li>
                            </ul>
                        </div>
                    </article>
                }
            </div>
            <div class="col-2">
                <h2>Autores</h2>
                <ul>
                    @foreach (var post in Model)
                    {
                        <li><a href="#">@post.Author.FirstName</a></li>
                    }
                </ul>
                <br />
                <h2>Categorías :</h2>
                <ul>
                    @foreach (var post in Model)
                    {
                        <li>
                            @post.Categoría
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
